apiVersion: apps/v1
kind: Deployment
metadata:
  name: sovazlutice
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: sovazlutice
  template:
    metadata:
      labels:
        app: sovazlutice
    spec:
      initContainers:
        - name: collectstatic
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          command: ["python", "django/manage.py", "collectstatic", "--noinput"]
          env:
            - name: DJANGO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: sovazlutice-secrets
                  key: secret-key
          volumeMounts:
            - name: static
              mountPath: /src/static
      containers:
        - name: django
          image: {{ .Values.image.repository }}:{{ .Values.image.tag }}
          ports:
            - containerPort: 8000
          volumeMounts:
            - name: db
              mountPath: /src/db
            - name: static
              mountPath: /src/static
            - name: media
              mountPath: /src/media
          env:
            - name: DB_PATH
              value: /src/db/db.sqlite3
            - name: DJANGO_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: sovazlutice-secrets
                  key: secret-key
          resources:
            requests:
              memory: {{ .Values.resources.django.requests.memory }}
              cpu: {{ .Values.resources.django.requests.cpu }}
            limits:
              memory: {{ .Values.resources.django.limits.memory }}
              cpu: {{ .Values.resources.django.limits.cpu }}

        - name: nginx
          image: {{ .Values.nginx.image }}
          ports:
            - containerPort: 80
          volumeMounts:
            - name: static
              mountPath: /src/static
              readOnly: true
            - name: media
              mountPath: /src/media
              readOnly: true
            - name: nginx-config
              mountPath: /etc/nginx/conf.d/default.conf
              subPath: default.conf
          resources:
            requests:
              memory: {{ .Values.resources.nginx.requests.memory }}
              cpu: {{ .Values.resources.nginx.requests.cpu }}
            limits:
              memory: {{ .Values.resources.nginx.limits.memory }}
              cpu: {{ .Values.resources.nginx.limits.cpu }}

      volumes:
        - name: db
          persistentVolumeClaim:
            claimName: sovazlutice-db
        - name: static
          persistentVolumeClaim:
            claimName: sovazlutice-static
        - name: media
          persistentVolumeClaim:
            claimName: sovazlutice-media
        - name: nginx-config
          configMap:
            name: sovazlutice-nginx
